body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
    background-image:url(/ui/madi.png);
    background-repeat:no-repeat;
    background-size:cover;
}

#fix{
    position:fixed;
    color:rgb(214, 8, 8);
    top:20px;
    left:20px;
}
.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

